{% extends "layout.html" %}

{% set pageId = "page-about" %}

{% block title %}
    Sobre nós
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/sobre-nos.css">
{% endblock styles %}

{% block content %}
    <div class="_content">
        {% include "partials/header-sidebar.html" %}

        <div class="about-content">
            <h1>Sesh</h1>

            <div class="content">
                <h2>Quem somos?</h2>
                <p>
                    A Sesh é uma empresa inovadora que atua no setor de eventos musicais, oferecendo uma variedade de serviços relacionados à manutenção, aluguéis, vendas e fabricação de caixas de som de alta qualidade. Com sede em Curitiba - PR, a empresa tem se destacado no mercado e conquistado clientes em diversas regiões do Brasil, como o Interior de São Paulo, Paraná, Santa Catarina e outros.
                </p>
            </div>

            <hr>

            <div class="content">
                <h2>Serviços e Produtos</h2>
                <p>
                    A Sesh possui uma ampla gama de serviços voltados para o ramo artístico da música, especialmente no cenário de festas e festivais. A empresa se orgulha de oferecer soluções de áudio sob medida para atender às necessidades específicas de cada evento.
                </p>

                <h3>Manutenção</h3>
                <p>
                    A equipe técnica altamente qualificada da Sesh realiza serviços de manutenção de caixas de som, garantindo que os equipamentos estejam em perfeitas condições de funcionamento. Essa abordagem profissional permite que os clientes tenham a tranquilidade de que seus sistemas de som serão confiáveis durante os eventos.
                </p>

                <h3>Aluguéis</h3>
                <p>
                    A Sesh disponibiliza um extenso catálogo de caixas de som para aluguel, abrangendo uma variedade de modelos e tamanhos para atender às demandas de diferentes tipos de festas e festivais. Seja um evento pequeno ou um grande festival, a empresa tem a capacidade de fornecer os equipamentos de som necessários para garantir uma experiência sonora excepcional.
                </p>

                <h3>Vendas</h3>
                <p>
                    Além dos serviços de aluguel, a Sesh também oferece a opção de venda de caixas de som. Os clientes têm a oportunidade de adquirir equipamentos de alta qualidade para uso contínuo em suas festas e eventos. A empresa trabalha em parceria com fabricantes renomados, garantindo que os produtos oferecidos sejam de última geração e proporcionem um desempenho superior.
                </p>

                <h3>Fabricação</h3>
                <p>
                    A Sesh também tem sua própria linha de caixas de som fabricadas internamente. Esses produtos são projetados com cuidado e atenção aos detalhes, visando entregar um som potente e de qualidade para eventos de qualquer porte. A empresa utiliza materiais duráveis e tecnologia avançada para garantir a durabilidade e a eficiência de seus equipamentos.
                </p>
            </div>

            <hr>

            <div class="content">
                <h2>Pretenção Futura</h2>
                <p>
                    A Sesh tem como objetivo expandir sua presença no mercado de festas e festivais, consolidando-se como uma referência no setor. A empresa busca continuamente inovação e aprimoramento, buscando maneiras de fornecer soluções de áudio ainda mais eficientes e adaptáveis às necessidades dos clientes.
                </p>

                <p>
                    Além disso, a Sesh planeja expandir sua área de atuação, estabelecendo parcerias estratégicas em outras regiões do Brasil. Com uma equipe altamente capacitada e produtos de alta qualidade, a empresa busca atender uma demanda crescente em todo o país, proporcionando experiências sonoras memoráveis em diversos eventos musicais.
                </p>
            </div>

            <hr>

            <div class="content">
                <h2>Clientes e Grandes Festivais Atendidos</h2>
                
                <p>
                    A reputação da Sesh é respaldada pela satisfação de seus clientes, incluindo importantes festivais que já utilizaram seus serviços. Entre os eventos de destaque estão
                </p>

                <h3>Festival de Verão de Curitiba</h3>
                <p>
                    Um dos maiores festivais do Paraná, que atrai milhares de pessoas todos os anos para desfrutar de música de qualidade. A Sesh foi a responsável pelo sistema de som em várias edições do festival, oferecendo uma experiência sonora excepcional para os participantes.
                </p>

                <h3>Festival da Serra Catarinense</h3>
                <p>
                    Reconhecido por sua atmosfera única e atrações musicais diversificadas, esse festival conta com a Sesh para fornecer os equipamentos de som necessários para garantir a qualidade do áudio em todas as apresentações.
                </p>

                <h3>Festival Interior Music</h3>
                <p>
                    Realizado no Interior de São Paulo, esse festival tem como objetivo promover a música independente. A Sesh tem sido uma parceira fundamental para o evento, fornecendo caixas de som de alto desempenho e garantindo que a qualidade sonora esteja em destaque.
                </p>

                <hr>

                <p>
                    Esses são apenas alguns exemplos de grandes festivais atendidos pela Sesh. A empresa tem orgulho de trabalhar com renomados eventos musicais, colaborando para que artistas e público tenham experiências sonoras imersivas e inesquecíveis.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}