<header>
    <link rel="stylesheet" href="/styles/header-sidebar.css">

    <a href="/" id="logomarca">
        <img src="/assets/logo-company.png" alt="Logomarca">
    </a>

    <button class="btn-open-sidebar" onclick="abrirSidebar()">
        <svg width="26" height="30" viewBox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="2" x2="26" y2="2" stroke="black" stroke-width="4"/>
            <line y1="15" x2="26" y2="15" stroke="black" stroke-width="4"/>
            <line y1="28" x2="26" y2="28" stroke="black" stroke-width="4"/>
        </svg>
    </button>

    <nav class="wrapper-links">
        <ul>
            <li>
                <a href="/" class="a_link home">
                    <span></span>Home
                </a>
            </li>

            <li>
                <a href="/produtos" class="a_link servios">
                    <span></span>Produtos
                </a>
            </li>

            <li>
                <a href="/trabalhe_conosco" class="a_link trabalhe_conosco">
                    <span></span>Trabalhe Conosco
                </a>
            </li>

            <li>
                <a href="/orcamento" class="a_link orcamentos">
                    <span></span>Orçamento
                </a>
            </li>

            <li>
                <a href="/sobre_nos" class="a_link sobre_nos">
                    <span></span>Sobre nós
                </a>
            </li>
        </ul>
    </nav>

    <script src="/scripts/header-sidebar.js"></script>
</header>