<div id=modal class="hide">
    <div class="content">
        <div class="header">
            <h1>Envie seu currículo</h1>
            <a href="#">Fechar</a>
        </div>

        <form action="/trabalhe_conosco">
            <div class="field">
                <input
                    type="file"
                    placeholder="Anexe aqui seu curriculo"
                    accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                    required >
                <button>
                    <img src="/assets/enviar.svg" alt="enviar">
                </button>
            </div>
        </form>
    </div>
</div>