.wrapper-product-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 4rem;
    background: var(--gradient);
    border-radius: 1rem;
    position: relative;
}

.wrapper-product-details .nome {
    color: var(--primary);
    font-size: 38px;
}

.wrapper-product-details .oferta {
	position: absolute;
	top: 0;
    left: 0;
	padding: 0.8rem;
	border-radius: 1rem 0 26px 0px;
	background: var(--primary-neutral-80-opacity);
	color: var(--neutral-0);
	font-weight: bold;
    backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
    animation: move 4s ease-in-out infinite
}

.wrapper-product-details .img-product {
    max-width: 500px;
    width: 100%;
}
.wrapper-product-details .img-product img {
    width: 100%;
    border-radius: 8px;
}

.wrapper-product-details .descricao {
    color: var(--neutral-50);
    font-size: 18px;
    text-align: justify;
}
